body{
    background-color: rgb(226, 202, 222);
    text-align: center
}



#botao{
    text-align: center;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    margin: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    width: 100px;
    animation: normal rgb(255, 0, 0);
    
}

a[href^="/t"] > span[style^="color:#f7ffcc;"],
#texto1 {
    background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    animation: rainbow 4s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

#texto1{
    border: 5px solid rgb(255, 0, 221);
    border-radius: 50px 50px;
    padding: 15px;
    text-align: center auto;
    font-size: 25px;
    font-family: 'Old English Text MT';
}
#textopai{
    width: auto;
    border-radius: 50px 50px;
    background-color: rgb(141, 119, 192);
}
#estilodados{
    font-family: "Comic Sans MS";
    font-size: larger;
    color:rgb(80, 48, 116)
}
#nomecartao, #numerocartao, #validadecartao, #cvvcartao{
    border: 2px solid rgb(255, 231, 247);
    border-radius: 4px;
    background-color: #ead1ff;
    
}